.header-content {
    display: flex;
    justify-content: center;
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    > header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1920px;
        width: 97%;
        height: 80px;
        > .logo {
            display: flex;
            align-items: center;
            height: 64px;
            > h2 {
                color: white;
            }
            > span {
                color: #70e61c;
            }
        }
        > .menu {
            > div {
                display: flex;
                align-items: center;

                > .flag {
                    color: white;
                    font-weight: 500;
                    font-size: 16px;
                    cursor: pointer;
                    transition: color 0.3s ease;

                    &:nth-child(3) {
                        margin-right: 32px;
                    }

                    &:hover {
                        color: #70e61c;
                        font-weight: 600;
                    }

                    &.active {
                        color: #70e61c;
                        font-weight: 600;
                    }
                }

                > .separator {
                    width: 2px;
                    height: 16px;
                    background-color: #9206bc;
                    margin: 0 8px;
                }

                > a {
                    text-decoration: none;
                    color: white;
                    border: none;
                    margin-left: 8px;
                }

                > a:hover {
                    color: #70e61c;
                    cursor: pointer;
                }
            }
        }

        > .mobile-menu {
            z-index: 998;
            > a {
                > img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 48px;
                    margin-right: -10px;
                    cursor: pointer;
                }
            }

            > .mobile-menu-links {
                > .flag-container {
                    display: flex;
                    justify-content: flex-end;
                    padding: 16px 28px;
                    background-color: rgba(255, 255, 255, 0.75);
                    align-items: center;

                    > .flag {
                        color: #141d2f;
                        font-size: 16px;
                        cursor: pointer;
                        transition: color 0.3s ease;
                        background: transparent;

                        &:hover {
                            color: #70e61c;
                        }

                        &.active {
                            color: #9206bc;
                        }
                    }

                    > .separator {
                        width: 2px;
                        height: 16px;
                        background-color: #70e61c;
                        margin: 0 8px;
                    }
                }

                > .flag-container:hover {
                    cursor: pointer;
                    background-color: rgba(255, 255, 255, 0.9);
                }

                > a {
                    text-decoration: none;
                    color: #141d2f;
                    margin: 0px 0px 2px 0px;
                    display: flex;
                    justify-content: flex-end;
                    padding: 16px 28px;
                    background-color: rgba(255, 255, 255, 0.75);
                    align-items: center;
                }

                > a:hover {
                    color: #70e61c;
                    background-color: rgba(255, 255, 255, 0.95);
                }
            }

            > .mobile-menu-links {
                position: absolute;
                top: 80px;
                right: 0px;
                width: 100%;
            }
        }
    }
}
