<section class="testimonials-content">
  <section
    class="testimonials-headline"
    data-aos="fade-right"
    data-aos-duration="1800"
  >
    <div class="testimonials-headline-container">
      <div class="testimonials-line"></div>
      <div class="testimonials-headline-text-container">
        <h2>{{ 'testimonialsContent.headline' | translate }}</h2>
        <p>
          {{ 'testimonialsContent.description' | translate }}
        </p>
      </div>
    </div>
  </section>

  <img src="/assets/img/shadows/shadow_blue_01.png" alt="Background shadow" class="background-shadow">

  <div class="carousel-container" data-aos="fade-up" data-aos-duration="1800">
    <img
      class="quotation-marks"
      src="/assets/img/QUOTATION-MARKS-ICON.svg"
      alt="Quotation Marks"
    />

    <div style="display: flex; flex-direction: column; align-items: flex-start; justify-content: space-between; background: transparent;">
      <div class="testimonial-text-content" style="display: flex; flex-direction: column; background: transparent;">
        <p style="background: transparent;">{{ currentTestimonial.text }}</p><br>
        <h3 style="color: #d2300b; margin-bottom: 8px; background: transparent;">{{ currentTestimonial.author }}</h3>
      </div>
    </div>
    <div class="testimonial-image-content">
      <img [src]="currentTestimonial.image" alt="Testimonial Image" />
    </div>
  </div>

  <div class="slider-navigation">
    <button (click)="previousTestimonial()">&#10094;</button>
    <div class="dots-container">
      <span
        *ngFor="let testimonial of testimonials; let i = index"
        class="dot"
        [class.active]="i === currentTestimonialIndex"
        (click)="goToTestimonial(i)">
      </span>
    </div>
    <button (click)="nextTestimonial()">&#10095;</button>
  </div>
</section>