.testimonials-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 80px 0px 64px 0px;

  .background-shadow {
    position: absolute;
    right: -150px;
    top: 15%;
    background: transparent;
    height: 40%;
    z-index: 0;
    height: 100%;
    filter: opacity(0.25);
  }

  .testimonials-headline {
    width: 100%;

    .testimonials-headline-container {
      position: relative;

      > .testimonials-headline-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        > h2 {
          font-size: 48px;
          left: 40%;
          background-color: #141d2f;
          padding: 0px 32px;
          z-index: 2;
        }

        > p {
          text-align: center;
          width: 50%;
        }
      }

      > .testimonials-line {
        position: absolute;
        top: 32px;
        z-index: 1;
        height: 4px;
        width: 80%;
        background-color: #056991;
      }
    }
  }

  .carousel-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 85%;
    max-width: 600px;
    min-height: 370px;
    max-height: 650px;
    margin: 64px 32px 32px 32px;
    padding: 32px;
    border: 2px solid #056991;
    border-radius: 8px;
    background: rgba(20, 29, 47, 0.85);
    box-shadow: 2px 2px 7px 0px rgba(255, 255, 255, 0.1);

    .quotation-marks {
      width: 48px;
      height: 48px;
      position: absolute;
      top: -16px;
      left: -16px;
      background-color: #141d2f;
      padding: 0px 8px 8px 0px;
      border-radius: 0px 0px 26px 0px;
    }

    .testimonial-text-content {
      display: flex;
      justify-content: flex-start;
      text-align: left;
      margin-bottom: 20px;
      width: 100%;
      background: transparent;

      div {
        background: transparent;
      }
      
      p {
        display: flex;
        font-size: 16px;
        color: white;
        width: 85%;
      }
    }

    .testimonial-image-content {
      background: transparent;
      img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 100%;
        border: 2px solid #d2300b;
        margin-right: 8px;
      }
    }
  }

  .slider-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    z-index: 999;
    button {
      background: transparent;
      border: none;
      font-size: 32px;
      cursor: pointer;
      color: white;
      padding: 0 20px;
    }

    .dots-container {
      display: flex;
      align-items: center;
      background: transparent;

      .dot {
        width: 12px;
        height: 12px;
        margin: 0 6px;
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .dot.active {
        background-color: #d2300b;
      }
    }
  }
}
