.skills-content {
    display: flex;
    align-items: flex-start;
    margin: 128px 0px 64px 0px;
    > .skills-image-content {
        display: flex;
        width: 60%;
        padding: 32px 0px 32px 64px;
        background: transparent;
        > .skills-icons {
            background: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 16px;
            position: relative;

            .background-shadow {
                position: absolute;
                left: -250px;
                bottom: 15%;
                background: transparent;
                height: 85%;
            }

            > .skills-icons-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                background: transparent;

                > svg {
                    background: transparent;
                }

                > span {
                    text-align: center;
                    background: transparent;
                }

                @keyframes rotateAnimation {
                    0% {
                        transform: rotate(0deg);
                    }
                    30% {
                        transform: rotate(25deg);
                    }
                    60% {
                        transform: rotate(-25deg);
                    }
                    100% {
                        transform: rotate(0deg);
                    }
                }
            }
            > .skills-icons-container svg:hover {
                animation: rotateAnimation 350ms ease-in-out;
                cursor: pointer;
            }
        }
    }

    > .skills-text-content {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 32px 0px 32px 64px;
        background: transparent;
        > .text-content-headline {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 16px;
            > .skills-line {
                height: 4px;
                width: 100%;
                background-color: #70e61c;
            }
            > h2 {
                font-size: 48px;
                background: transparent;
            }
        }
        > p {
            background: transparent;
            padding-right: 64px;
            margin-top: 16px;
        }
        > .skills-button-container {
            display: flex;
            justify-content: flex-start;
            > button {
                color: #141d2f;
                font-weight: 600;
                padding: 8px 32px;
                border-radius: 8px;
                cursor: pointer;
                margin-top: 32px;
                background-color: #70e61c;
                border: 2px solid #70e61c;
                // background-position: 50% 50%;
                background-size: 0% 100%;
                background-image: linear-gradient(#141d2f, #141d2f);
                background-repeat: no-repeat;
                transition:
                    background-size 0.5s,
                    color 0.5s;
                width: fit-content;
            }

            > button:hover {
                color: white;
                font-weight: 700;
                // background-position: 0% 50%;
                background-size: 100% 100%;
            }
        }
    }
}
