<section id="impressum" data-aos="fade-left" data-aos-duration="1800">
    <h2>Impressum</h2>

    <p>Felix Kroth<br />
    Im Wingert 24<br />
    63801 Kleinostheim</p> <br>

    <h2>Kontakt</h2>
    <p>E-Mail: felix_kroth&#64;web.de <br>
    Telefon: 0163 2076800
    </p>
    <br>

    <h2>Credits</h2>
    
    <p><a href="https://www.flaticon.com/free-icons/github" title="github icons">Github icons created by Pixel perfect - Flaticon</a></p>
    <p><a href="https://www.flaticon.com/free-icons/email" title="email icons">Email icons created by Freepik - Flaticon</a></p>
    <p><a href="https://www.flaticon.com/free-icons/linkedin" title="linkedin icons">Linkedin icons created by Pixel perfect - Flaticon</a></p>
    <p>Bild von <a href="https://pixabay.com/de/users/nick_h-1821910/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1999636">Nick</a> auf <a href="https://pixabay.com/de//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1999636">Pixabay</a></p>
    <p><a href="https://www.flaticon.com/free-icons/creative-cloud" title="creative cloud icons">Creative cloud icons created by Fathema Khanom - Flaticon</a></p><br>
    <p id="source-impressum">Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p><br>

    <button class="back-to-home"><a routerLink='/'>BACK TO HOME</a></button>
</section>
