<section id="impressum">
  <section class="impressum-container">
    <h2>IMPRESSUM</h2>

    <p>
      Felix Kroth<br />
      Im Wingert 24<br />
      63801 Kleinostheim
    </p>
    <br />

    <h2>KONTAKT</h2>
    <p>
      E-Mail: contact&#64;felix-kroth.de <br />
      Telefon: +49 163 2076800
    </p>
    <br />

    <h2>HAFTUNGSAUSSCHLUSS</h2>
    <br />
    <h3>Haftung für Inhalte</h3>
    <br />
    <p>
      Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die
      Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch
      keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 DDG
      für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen
      verantwortlich. Nach §§ 8 bis 10 DDG sind wir als Diensteanbieter jedoch
      nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu
      überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige
      Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der
      Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon
      unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt
      der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden
      von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend
      entfernen.<br /><br />
    </p>

    <h3>Haftung für Links</h3>
    <br />
    Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte
    wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch
    keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der
    jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten
    Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße
    überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht
    erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist
    jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar.
    Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend
    entfernen.<br /><br />

    <h3>Urheberrecht</h3>
    <br />
    Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten
    unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung,
    Verbreitung und jede Art der Verwertung außerhalb der Grenzen des
    Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors
    bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den
    privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf
    dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte
    Dritter beachtet. Insbesondere werden Inhalte Dritter als solche
    gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung
    aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei
    Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend
    entfernen.

    <br /><br />

    <h2>CREDITS</h2>

    <p>
      <a href="https://www.flaticon.com/free-icons/github" title="github icons"
        >Github icons created by Pixel perfect - Flaticon</a
      >
    </p>

    <p>
      <a href="https://www.flaticon.com/free-icons/email" title="email icons"
        >Email icons created by Freepik - Flaticon</a
      >
    </p>

    <p>
      <a
        href="https://www.flaticon.com/free-icons/linkedin"
        title="linkedin icons"
        >Linkedin icons created by Pixel perfect - Flaticon</a
      >
    </p>

    <p>
      <a
        href="https://www.flaticon.com/free-icons/checkbox"
        title="checkbox icons"
        >Checkbox icons created by Freepik - Flaticon</a
      >
    </p>

    <p>
      <a
        href="https://www.flaticon.com/free-icons/creative-cloud"
        title="creative cloud icons"
        >Creative cloud icons created by Fathema Khanom - Flaticon</a
      >
    </p>

    <p>
      Bild von
      <a
        href="https://pixabay.com/de/users/naty2work-18366717/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5583035"
        >naty2work</a
      >
      auf
      <a
        href="https://pixabay.com/de//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5583035"
        >Pixabay</a
      >
    </p>

    <p>
      Bild von
      <a
        href="https://pixabay.com/de/users/melancholiaphotography-2312503/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3803551"
        >melancholiaphotography</a
      >
      auf
      <a
        href="https://pixabay.com/de//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3803551"
        >Pixabay</a
      >
    </p>

    <p>
      Bild von
      <a
        href="https://pixabay.com/de/users/pexels-2286921/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1867092"
        >Pexels</a
      >
      auf
      <a
        href="https://pixabay.com/de//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1867092"
        >Pixabay</a
      >
    </p>

    <p>
      Bild von
      <a
        href="https://pixabay.com/de/users/nick_h-1821910/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1999636"
        >Nick</a
      >
      auf
      <a
        href="https://pixabay.com/de//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1999636"
        >Pixabay</a
      >
    </p>

    <br />
    <br /><br />
    <p id="source-impressum">
      Quelle: <a href="https://www.e-recht24.de">e-recht24.de </a>und
      <a href="https://www.impressum-generator.de">Impressum Generator</a>.
    </p>
    <br />

    <button class="back-to-home"><a routerLink='/'>BACK TO HOME</a></button>
  </section>
</section>
