#impressum {
    color: white;
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 28px;

    h2 {
        color: #70e61c;
    }

    p {
        > a {
            text-decoration: none;
            color: white;
        }

        > a:hover {
            color: #70e61c;
        }
    }

    > button {
        color: #141d2f;
        font-weight: 600;
        padding: 8px 32px;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 32px;
        margin-bottom: 32px;
        background-color: #70e61c;
        border: 2px solid #70e61c;
        // background-position: 50% 50%;
        background-size: 0% 100%;
        background-image: linear-gradient(#141d2f, #141d2f);
        background-repeat: no-repeat;
        transition:
            background-size 0.5s,
            color 0.5s;
        width: fit-content;

        > a {
            text-decoration: none;
            background: transparent;
            color: #141d2f;
        }
    }

    > button:hover {
        color: white;
        font-weight: 700;
        // background-position: 0% 50%;
        background-size: 100% 100%;

        a {
            color: white;
        }
    }
}
