<section id="impressum">
  <section class="impressum-container">
    <h2>{{ "impressum.title" | translate }}</h2>

    <p>
      {{ "impressum.address" | translate }}<br />
      {{ "impressum.city" | translate }}
    </p>
    <br />

    <h2>{{ "impressum.contact.title" | translate }}</h2>
    <p>
      <a href="mailto:contact@felix-kroth.de">{{
        "impressum.contact.email" | translate
      }}</a>
      <br />
      <a href="tel:+491632076800">{{
        "impressum.contact.phone" | translate
      }}</a>
    </p>
    <br />

    <h3>{{ "impressum.disclaimer.title" | translate }}</h3>
    <br />
    <p>{{ "impressum.disclaimer.content" | translate }}</p>
    <br />

    <h3>{{ "impressum.disclaimer.liability.title" | translate }}</h3>
    <br />
    <p>{{ "impressum.disclaimer.liability.content" | translate }}</p>
    <br />

    <h3>{{ "impressum.disclaimer.links.title" | translate }}</h3>
    <br />
    <p>
      <a
        href="https://pixabay.com/de/users/naty2work-18366717/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5583035"
        >{{ "impressum.disclaimer.links.content1" | translate }}</a
      >
    </p>
    <p>
      <a
        href="https://pixabay.com/de/users/melancholiaphotography-2312503/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3803551"
        >{{ "impressum.disclaimer.links.content2" | translate }}</a
      >
    </p>
    <p>
      <a
        href="https://pixabay.com/de/users/pexels-2286921/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1867092"
        >{{ "impressum.disclaimer.links.content3" | translate }}</a
      >
    </p>
    <p>
      <a
        href="https://pixabay.com/de/users/nick_h-1821910/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1999636"
        >{{ "impressum.disclaimer.links.content4" | translate }}</a
      >
    </p>
    <p>
      <a href="https://www.flaticon.com/free-icons/github">{{
        "impressum.disclaimer.links.content5" | translate
      }}</a>
    </p>
    <p>
      <a href="https://www.flaticon.com/free-icons/email">{{
        "impressum.disclaimer.links.content6" | translate
      }}</a>
    </p>
    <p>
      <a href="https://www.flaticon.com/free-icons/linkedin">{{
        "impressum.disclaimer.links.content7" | translate
      }}</a>
    </p>
    <p>
      <a href="https://www.flaticon.com/free-icons/linkedin">{{
        "impressum.disclaimer.links.content8" | translate
      }}</a>
    </p>
    <p>
      <a href="https://www.flaticon.com/free-icons/linkedin">{{
        "impressum.disclaimer.links.content9" | translate
      }}</a>
    </p>
    <br />

    <h3>{{ "impressum.disclaimer.liability.copyright.title" | translate }}</h3>
    <br />
    <p>{{ "impressum.disclaimer.liability.copyright.content" | translate }}</p>

    <br />
    <p id="source-impressum"></p>
    <p>
      {{ "impressum.disclaimer.source" | translate }}<a style="text-decoration: none; color: #d2300b" href="https://www.e-recht24.de/">https://www.e-recht24.de</a>
    </p>
    <br />
    <p>
      {{ "impressum.disclaimer.source1" | translate }}<a style="text-decoration: none; color: #d2300b" href="https://www.impressum-generator.de/">https://www.impressum-generator.de</a>
    </p>

    <br />

    <button class="back-to-home">
      <a routerLink="/">{{ "impressum.disclaimer.backToHome" | translate }}</a>
    </button>
  </section>
</section>
