* {
  max-width: 1920px;
}

#scroll-to-top {
    position: absolute;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.8);
    color: #141d2f;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      transform: scale(1.05);
      background-color: #d2300b;
    }
    > .show {
      display: block;
    }
  }
