<div class="footer-content">
    <footer id="footer">
        <section class="footer-logo">
            <h2 routerLink='/'><span>FELI<span>X</span></span></h2>
        </section>
        <section class="impressum-datenschutz">
            <div id="impressum-file"><a routerLink='/impressum'>IMPRESSUM</a></div>
            <div id="seperator-footer"></div>
            <div id="datenschutz-file"><a routerLink='/'>© FELIX KROTH</a></div>
        </section>
        <section class="socialmedia">
            <a href='https://github.com/' target="_blank"><img src="../assets/img/github-icon.png" id="github-icon-footer" alt="github-icon"></a>
            <a href="mailto:felix_kroth@web.de" target="_blank"><img src="../assets/img/mail-icon.png" id="mail-icon" alt="mail-icon"></a>
            <a href='https://linkedin.com/' target="_blank"><img src="../assets/img/linkedIn-icon.png" id="linkedIn-icon" alt="linkedIn-icon"></a>
        </section>
    </footer>
</div>