.error-message {
    width: 80%;
    color: red;
    margin-top: -12px;
    margin-bottom: 16px;
    font-size: 12px;
}

.success-message {
    background-color: #141d2f;
    color: white;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    padding: 8px 32px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    margin: 80px 0px;

    > .contact-headline-container {
        display: flex;
        align-items: center;
        > h2 {
            font-size: 48px;
            margin-left: 20px;
        }
        > .contact-line {
            height: 4px;
            background-color: #70e61c;
            width: 2%;
        }
    }

    > .contact-content-container {
        display: flex;
        width: 100%;
        > .contact-text-content {
            display: flex;
            width: 50%;
            > p {
                margin: 0 8%;
            }
        }

        > .contact-form-content {
            display: flex;
            flex-direction: column;
            width: 50%;
            
            > .contact-form {
                               
                > .contact-input-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    > input,
                    textarea {
                        width: 75%;
                        border: 1px solid #9206bc;
                        border-radius: 4px;
                        padding: 8px;
                        margin-bottom: 16px;
                        color: white;
                        resize: vertical;
                        :focus-visible {
                            outline: none;
                            border: 1px solid #9206bc;
                        }
                        ::placeholder {
                            color: #70e61c;
                            font-weight: 500;
                        }
                    }
                }

                > .contact-form-button-container {
                    display: flex;
                    justify-content: center;
                    > button {
                        color: #141d2f;
                        font-weight: 600;
                        padding: 8px 32px;
                        border-radius: 8px;
                        cursor: pointer;
                        margin-top: 32px;
                        background-color: #70e61c;
                        border: 2px solid #70e61c;
                        // background-position: 50% 50%;
                        background-size: 0% 100%;
                        background-image: linear-gradient(#141d2f, #141d2f);
                        background-repeat: no-repeat;
                        transition:
                            background-size 0.5s,
                            color 0.5s;
                        width: fit-content;
                    }

                    > button:hover {
                        color: white;
                        font-weight: 700;
                        // background-position: 0% 50%;
                        background-size: 100% 100%;
                    }
                }
            }
        }
    }
}
