<section class="contact-content">
  <div class="contact-headline-container" data-aos="fade-right" data-aos-duration="1800">
    <div class="contact-line"></div>
    <h2>CONTACT</h2>
  </div>

  <div class="contact-content-container">
    <div class="contact-text-content" data-aos="fade-right" data-aos-duration="1800">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum ea nam
        iure nisi sint architecto, explicabo ipsa nobis quibusdam deleniti quo
        dolorem vel ad repellendus quaerat laboriosam porro mollitia blanditiis
        molestiae saepe esse placeat.
      </p>
    </div>

    <div class="contact-form-content" data-aos="fade-left" data-aos-duration="1800">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
        <div class="contact-input-container">
          <input
            formControlName="name"
            type="text"
            placeholder="Your name"
            required
          />
          <div *ngIf="formControls.name.invalid && formControls.name.touched" class="error-message-inputs" data-aos="fade-up" data-aos-duration="500">
            Please fill out this field before sending the message.
          </div>

          <input
            formControlName="email"
            type="email"
            placeholder="Your email"
            required
          />
          <div *ngIf="formControls.email.invalid && formControls.email.touched" class="error-message-inputs" data-aos="fade-up" data-aos-duration="500">
            Please fill out this field before sending the message.
          </div>

          <textarea
            formControlName="message"
            placeholder="Your message"
            required
          ></textarea>
          <div *ngIf="formControls.message.invalid && formControls.message.touched" class="error-message-inputs" data-aos="fade-up" data-aos-duration="500">
            Please fill out this field before sending the message.
          </div>
        </div>

        <div class="contact-form-button-container">
          <button type="submit" [disabled]="contactForm.invalid" [ngClass]="{'disabled': contactForm.invalid}">SEND MESSAGE</button>
        </div>
      </form>

      <!-- Success or Error Message -->
      <div #successMessage *ngIf="messageSent" class="success-message" data-aos="fade-up" data-aos-duration="1800">
        Your message has been sent successfully!
      </div>
      <div #errorMessage *ngIf="submissionError && isFormInvalid" class="error-message" data-aos="fade-up" data-aos-duration="1800">
        There was an error sending your message. Please ensure all fields are filled out correctly.
      </div>
    </div>
  </div>
</section>