<section class="contact-content">
  <div class="contact-headline-container" data-aos="fade-right" data-aos-duration="1800">
    <div class="contact-line"></div>
    <h2>{{ "contactContent.headline" | translate }}</h2>
  </div>

  <div class="contact-content-container">
    <div class="contact-text-content" data-aos="fade-right" data-aos-duration="1800">
      <p>
        {{ "contactContent.description" | translate }}
      </p>
    </div>

    <div class="contact-form-content" data-aos="fade-left" data-aos-duration="1800">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
        <div class="contact-input-container">
          <input
            formControlName="name"
            type="text"
            [placeholder]="'contactContent.placeholder_name' | translate"
            required
          />
          <div
            *ngIf="formControls.name.invalid && formControls.name.touched"
            class="error-message-inputs"
            data-aos="fade-up"
            data-aos-duration="500"
          >
            {{ "contactContent.error_name" | translate }}
          </div>

          <input
            formControlName="email"
            type="email"
            [placeholder]="'contactContent.placeholder_email' | translate"
            required
          />
          <div
            *ngIf="formControls.email.invalid && formControls.email.touched"
            class="error-message-inputs"
            data-aos="fade-up"
            data-aos-duration="500"
          >
            {{ "contactContent.error_email" | translate }}
          </div>

          <textarea
            formControlName="message"
            [placeholder]="'contactContent.placeholder_message' | translate"
            required
          ></textarea>
          <div
            *ngIf="formControls.message.invalid && formControls.message.touched"
            class="error-message-inputs"
            data-aos="fade-up"
            data-aos-duration="500"
          >
            {{ "contactContent.error_message" | translate }}
          </div>

          <div class="privacy-policy-checkbox">
            <input
              type="checkbox"
              formControlName="checkbox"
            />
            <p>
              {{ "contactContent.checkboxText1" | translate }}
              <a routerLink='/privacy-policy'>{{ "contactContent.checkboxPrivacy" | translate }}</a>
              {{ "contactContent.checkboxText2" | translate }}
            </p>
          </div>
        </div>

        <div class="contact-form-button-container">
          <button
            type="submit"
            [disabled]="isFormInvalid"
            [ngClass]="{ disabled: isFormInvalid }"
          >
            {{ "contactContent.submit_button" | translate }}
          </button>
        </div>
      </form>

      <!-- Success or Error Message -->
      <div
        *ngIf="messageSent"
        class="success-message"
        data-aos="fade-up"
        data-aos-duration="1800"
      >
        {{ "contactContent.success_message" | translate }}
      </div>
      <div
        *ngIf="submissionError && isFormInvalid"
        class="error-message"
        data-aos="fade-up"
        data-aos-duration="1800"
      >
        {{ "contactContent.error_message_submission" | translate }}
      </div>
    </div>
  </div>
  <img src="/assets/img/shadows/shadow_green_02.png" alt="Background shadow" class="background-shadow">
</section>