* {
    margin: 0;
    font-family: "Poppins";
    background-color: #141d2f;
}

/* poppins-100 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 100;
    src: url("./assets/fonts/poppins-v21-latin-100.ttf") format("truetype"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-200 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 200;
    src: url("./assets/fonts/poppins-v21-latin-200.ttf") format("truetype"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    src: url("./assets/fonts/poppins-v21-latin-300.ttf") format("truetype"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/poppins-v21-latin-regular.ttf") format("truetype"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Poppins";
    font-style: italic;
    font-weight: 400;
    src: url("./assets/fonts/poppins-v21-latin-italic.ttf") format("truetype"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/poppins-v21-latin-500.ttf") format("truetype"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    src: url("./assets/fonts/poppins-v21-latin-600.ttf") format("truetype"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/poppins-v21-latin-700.ttf") format("truetype"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-800 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    src: url("./assets/fonts/poppins-v21-latin-800.ttf") format("truetype"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
    src: url("./assets/fonts/poppins-v21-latin-900.ttf") format("truetype"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #9206bc;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    &:hover {
        background: #70e61c;
    }
}

@media screen and (min-height: 1920px) {
    #impressum {
        height: 95vh !important;
    }

    #privacy-main {
        height: 95vh !important;
    }
}

@media screen and (min-width: 1921px) {
    #main-content {
        overflow: visible !important;
        overflow-y: clip !important;
    }
}

@media screen and (min-width: 780px) {
    .mobile-menu {
        display: none;
    }
}

@media screen and (max-width: 1820px) {
    .portfolio-headline-text-container {
        p {
            margin-left: 36% !important;
        }
    }
}

@media screen and (max-width: 1720px) {
    .portfolio-headline-text-container {
        p {
            margin-left: 35% !important;
        }
    }
}

@media screen and (max-width: 1620px) {
    .contact-text-content {
        p {
            margin: 0 7% !important;
        }
    }

    .portfolio-headline-text-container {
        p {
            margin-left: 34% !important;
        }
    }
}

@media screen and (max-width: 1420px) {
    .portfolio-headline-text-container {
        p {
            margin-left: 32% !important;
        }
    }
}

@media screen and (max-width: 1320px) {
    .contact-text-content {
        p {
            margin: 0 7.5% !important;
        }
    }

    #main-content {
        overflow-x: hidden !important;
    }

    .portfolio-headline-text-container {
        p {
            margin-left: 29%;
        }
    }
}

@media screen and (max-width: 1220px) {
    .profile-image .line {
        width: 8% !important;
    }
}
@media screen and (max-width: 1120px) {
    .about-content {
        flex-direction: column-reverse;
    }

    .profile-image-content {
        width: 100% !important;
    }

    .about-text-content {
        width: 85% !important;
    }

    .portfolio-headline-text-container p {
        width: 33% !important;
        margin-left: 9% !important;
    }

    .profile-image-container {
        border: 4px solid #70e61c !important;
    }

    .line {
        min-width: 25%;
    }

    .header-intro {
        margin-top: 20% !important;
    }

    .contact-text-content {
        p {
            margin: 0 8% !important;
        }
    }
}

@media screen and (max-width: 1040px) {
    .skills-content {
        flex-direction: column-reverse;
    }

    .skills-text-content {
        width: unset !important;
    }

    .skills-image-content {
        width: unset !important;
        padding: 32px 32px 32px 32px !important;
    }

    .portfolio-headline-text-container p {
        width: 33% !important;
        margin-left: 8% !important;
    }
}

@media screen and (max-width: 990px) {
    .header-intro {
        margin-top: 25% !important;
    }

    .portfolio-headline-text-container p {
        width: 33% !important;
        margin-left: 6% !important;
    }

    .portfolio-section:nth-child(odd) {
        flex-direction: column !important;
    }

    .portfolio-text-content:nth-child(odd) {
        padding: 32px !important;
    }

    .portfolio-text-content:nth-child(even) {
        padding: 32px !important;
    }

    .portfolio-section:nth-child(even) {
        flex-direction: column !important;
    }

    .contact-line {
        width: 8% !important;
    }

    .contact-content {
        flex-direction: column;
        width: 100%;
    }

    .contact-form-content {
        display: flex;
        flex-direction: column;
        margin-top: 64px;
        width: unset;
    }

    .contact-content-container {
        flex-direction: column;
    }

    .contact-form-content,
    .contact-text-content {
        width: unset !important;
    }

    .contact-text-content p {
        margin: 0 10.25% !important;
    }

    #footer {
        height: 150px !important;
        flex-direction: column;
        gap: 16px;
        padding: 16px 0px !important;
    }

    .footer-content {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 2px solid #70e61c;
        height: 200px !important;
    }

    .footer-logo img {
        height: 56px;
    }

    #github-icon-footer {
        margin: 0 !important;
    }

    .datenschutz {
        margin-top: 94px;
    }

    .impressum {
        margin-top: 94px;
    }
}

@media screen and (max-width: 860px) {
    .carousel-container {
        flex-direction: column-reverse;
        align-items: center;
        gap: 32px;
        width: 60% !important;
    }

    .testimonial-text-content {
        justify-content: center;
        width: 100% !important;

        p {
            font-size: 14px;
            width: 100% !important;
        }
    }

    .button-container {
        justify-content: center !important;
    }

    .portfolio-headline-text-container p {
        width: 37% !important;
        margin-left: 3% !important;
    }

    .contact-text-content {
        p {
            margin: 0 10.5% !important;
        }
    }
}

@media screen and (max-width: 780px) {
    .header-intro {
        margin-top: 30% !important;
    }

    .menu {
        display: none !important;
    }

    .profile-image-container {
        margin: 32px 0px 32px 16px;
    }

    .header-content header {
        width: 95% !important;
    }

    .portfolio-headline-text-container p {
        width: 37% !important;
    }

    .contact-text-content {
        p {
            margin: 0 11% !important;
        }
    }
}

@media screen and (max-width: 680px) {
    .header-container {
        background-position:
            center top -15%,
            center top 20%,
            center top 20% !important;
        background-size: cover, 70%, 60% !important;
    }

    .header-intro {
        margin-top: 45% !important;
    }

    .line {
        width: unset !important;
        min-width: 15%;
    }

    .header-contact-container {
        > a {
            display: none;
        }
    }

    .scroll-down {
        display: none;
    }

    .wording-intro {
        font-size: 40px !important;
        margin-top: 10px;
    }

    .wording-container {
        > h1 {
            font-size: 56px !important;
        }

        > span {
            font-size: 24px !important;
        }
    }

    .header-content header {
        width: 92% !important;
    }

    .profile-image-container {
        width: 350px !important;
        height: 350px !important;
    }

    .portfolio-headline-text-container p {
        width: 42% !important;
    }
}

@media screen and (max-width: 580px) {
    .about-category {
        flex-direction: column;

        > svg {
            margin-bottom: 8px;
        }
    }

    .about-category p {
        width: 100% !important;
    }

    .about-text-content,
    .skills-text-content {
        padding: 32px 0px 32px 32px !important;
    }

    .about-text-content {
        padding: 32px !important;
    }

    .skills-text-content p {
        padding-right: 32px !important;
    }

    .skills-image-content {
        padding: 32px 16px !important;
    }

    .portfolio-headline-text-container p {
        width: 46% !important;
        margin-left: 0% !important;
    }

    .contact-text-content {
        p {
            margin: 0 11.5% !important;
        }
    }
}

@media screen and (max-width: 520px) {
    .portfolio-headline-text-container p {
        width: 49% !important;
        margin-left: 0% !important;
    }

    .contact-text-content {
        p {
            margin: 0 12% !important;
        }
    }
}

@media screen and (max-width: 480px) {
    .header-container {
        background-size: cover, 80%, 80% !important;
    }

    .header-intro {
        margin-top: 55% !important;
    }

    h2 {
        font-size: 32px !important;
    }

    #impressum h2 {
        font-size: 24px !important;
    }

    #privacy-main-container h2 {
        font-size: 24px !important;
    }

    p {
        font-size: 14px !important;
    }

    .testimonials-headline-text-container {
        > h2 {
            padding: 0px 16px !important;
        }

        > p {
            width: 80%;
            margin-top: 16px;
        }
    }

    #privacy-main-container {
        padding: 22px;
    }

    #impressum {
        padding: 18px;
        font-size: 14px;
    }

    .testimonials-line {
        top: 20px !important;
    }

    .profile-image-container {
        width: 300px !important;
        height: 300px !important;
    }

    .testimonial-text-content {
        width: unset !important;
    }

    .wording-intro {
        font-size: 30px !important;
        margin-top: 4px !important;
        margin-right: -10px !important;
        margin-left: -16px !important;
    }

    .wording-container {
        > h1 {
            font-size: 40px !important;
            margin-bottom: 2px;
        }

        > span {
            font-size: 24px !important;
        }
    }

    .portfolio-headline-text-container p {
        width: 44% !important;
        margin-left: 0% !important;
    }
}

@media screen and (max-width: 460px) {
    .header-intro {
        margin-top: 85% !important;
    }

    .header-container {
        background-size: cover, 100%, 100% !important;
    }
    
    .contact-text-content {
        p {
            margin: 0 12.75% !important;
        }
    }
}

@media screen and (max-width: 440px) {


    .header-content header {
        width: 90% !important;
    }

    .testimonial-image-content {
        img {
            width: 200px !important;
            height: 200px !important;
        }
    }
}

@media screen and (max-width: 400px) {
    .profile-image-container {
        width: 250px !important;
        height: 250px !important;
    }

    .contact-text-content {
        p {
            margin: 0 13% !important;
        }
    }
}

@media screen and (max-width: 390px) {
    .header-container {
        background-size: cover, 100%, 100% !important;
    }

    .portfolio-text-content-button-container {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .portfolio-content {
        button:last-child {
            margin-top: 0px !important;
        }
    }

    .skills-icons-container {
        > svg {
            height: 100px;
            width: 100px;
        }

        > span {
            font-size: 14px;
        }
    }

    .portfolio-headline-text-container p {
        width: 55% !important;
        margin-left: 8% !important;
    }

    .contact-text-content {
        p {
            margin: 0 13.5% !important;
        }
    }
}

@media screen and (max-width: 350px) {
    .profile-image-container {
        width: 200px !important;
        height: 200px !important;
    }

    .wording-intro {
        font-size: 23px !important;
        margin-top: 4px !important;
        margin-right: -7px !important;
    }

    .wording-container {
        > h1 {
            font-size: 28px !important;
            margin-bottom: 8px;
        }

        > span {
            font-size: 18px !important;
        }
    }

    .contact-text-content {
        p {
            margin: 0 14% !important;
        }
    }

    .portfolio-headline-text-container p {
        margin-left: 0% !important;
    }
}

@media screen and (max-width: 320px) {
    .contact-text-content {
        p {
            margin: 0 14.25% !important;
        }
    }
}
