.header-container {
    background: url(/assets/img/HERO-BG.svg), url(/assets/img/main-image.png),
        url(/assets/img/shadow_main.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position:
    center top -15%,
    left -10% top 20%,
    left -80% top 15%;
    background-size: cover, 55%, 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .spacer {
        height: 80px;
        background: transparent;
    }
    > .header-intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        padding: 0 16px;

        > button {
            color: #141d2f;
            font-weight: 600;
            padding: 8px 32px;
            border-radius: 8px;
            cursor: pointer;
            margin-top: 32px;
            background-color: #056991;
            border: 2px solid #056991;
            background-size: 0% 100%;
            background-image: linear-gradient(#162032, #162032);
            background-repeat: no-repeat;
            transition:
                background-size 0.5s,
                color 0.5s;
            width: fit-content;
            white-space: nowrap;
            
        }

        > button:hover {
            color: white;
            font-weight: 700;
            background-size: 100% 100%;
        }

        > .wording {
            display: flex;
            align-items: center;
            background-color: transparent;

            > .wording-intro {
                display: flex;
                align-items: center;
                justify-content: center;
                background: transparent;
                margin-top: 10px;
                margin-right: -10px;
                transform: rotate(-90deg);
                font-weight: 200;
                font-size: 58px;
                background-color: transparent;
            }

            > .wording-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: transparent;

                > h1 {
                    font-size: 72px;
                    background-color: transparent;
                    text-align: left;
                }

                > span {
                    background-color: transparent;
                    font-size: 40px;
                    color: #d2300b;
                    margin-top: -16px;
                    text-align: left;
                }
            }
        }
    }

    > .header-contact {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        height: 150px;
        margin-bottom: 3%;
        z-index: 99;

        > .header-contact-container {
            display: flex;
            align-items: center;
            background-color: transparent;

            > .line {
                display: flex;
                align-items: center;
                height: 4px;
                width: 100px;
                background-color: #056991;
            }

            > a {
                text-decoration: none;
                color: white;
                margin-left: 16px;
                background-color: transparent;
                white-space: nowrap;
                
                text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
                &:hover {
                    color: #056991;
                }
            }

            > .contact-icons {
                display: flex;
                background-color: transparent;
                > a {
                    background-color: transparent;

                    > img {
                        width: 40px;
                        height: 40px;
                        margin-left: 16px;
                        background: transparent;
                        transition:
                            transform 0.3s,
                            filter 0.3s;
                    }

                    &:hover {
                        transform: scale(1.15);
                        fill-opacity: #056991;
                    }
                }
            }
        }

        @keyframes opacityAnimation {
            from {
                visibility: hidden;
                opacity: 0;
            }
            to {
                visibility: visible;
                opacity: 1;
            }
        }

        > .scroll-down {
            display: flex;
            align-items: center;
            gap: 8px;
            background-color: transparent;
            cursor: pointer;
            transform: rotate(90deg);
            font-size: 14px;
            margin-right: -48px;
            width: 170px;
            animation: opacityAnimation 5s ease-out;

            &:hover {
                color: #d2300b;
            }

            > img {
                background-color: transparent;
                transform: rotate(-90deg);
            }
        }
    }
}
