<section id="privacy-main">
  <section id="privacy-main-container">
    <h2 style="font-size: 32px">{{ "privacy.heading" | translate }}</h2>
    <br />
    <h3>{{ "privacy.section1.heading" | translate }}</h3>
    <br />
    <h4>{{ "privacy.general.notes" | translate }}</h4>
    <br />
    <p>
      {{ "privacy-paragraphs.1st.paragraph" | translate }}
    </p>
    <br />
    <h4>{{ "privacy.general.notes2" | translate }}</h4>
    <br />
    <h5>{{ "privacy.responsibility.heading" | translate }}</h5>
    <p>
      {{ "privacy-paragraphs.2nd.paragraph" | translate }}
    </p>
    <h5>{{ "privacy.data.collection.heading" | translate }}</h5>
    <p>
      {{ "privacy-paragraphs.3rd.paragraph" | translate }}
    </p>
    <p>
      {{ "privacy-paragraphs.4th.paragraph" | translate }}
    </p>
    <h5>{{ "privacy.data.usage.heading" | translate }}</h5>
    <p>
      {{ "privacy-paragraphs.5th.paragraph" | translate }}
    </p>
    <h5>{{ "privacy.rights.heading" | translate }}</h5>
    <p>
      {{ "privacy-paragraphs.6th.paragraph" | translate }}
    </p>
    <p>
      {{ "privacy-paragraphs.7th.paragraph" | translate }}
    </p>
    <br />
    <h3>{{ "privacy.section2.heading" | translate }}</h3>
    <p>{{ "privacy.7th.paragraph" | translate }}</p>
    <p>{{ "privacy.7th.2.paragraph" | translate }}</p>
    <br />
    <h4>All-Inkl</h4>
    <br />
    <p>
      {{ "privacy-paragraphs.8th.paragraph" | translate }}
      <a
        href="https://all-inkl.com/datenschutzinformationen/"
        target="_blank"
        rel="noopener noreferrer"
        >https://all-inkl.com/datenschutzinformationen/</a
      >.
    </p>
    <p>
      {{ "privacy-paragraphs.9th.paragraph" | translate }}
    </p>

    <br />
    <h3>{{ "privacy.section3.heading" | translate }}</h3>
    <br />
    <h4>{{ "privacy.data-protection.heading" | translate }}</h4>
    <br />
    <p>
      {{ "privacy-paragraphs.10th.paragraph" | translate }}
    </p>
    <p>
      {{ "privacy-paragraphs.11th.paragraph" | translate }}
    </p>
    <p>
      {{ "privacy-paragraphs.12th.paragraph" | translate }}
    </p>
    <br />
    <h4>{{ "privacy.controller.info.heading" | translate }}</h4>
    <br />
    <p>{{ "privacy.controller.info.description" | translate }}</p>
    <br />
    <p>
      Felix Kroth<br />
      Im Wingert 24<br />
      63801 Kleinostheim
    </p>
    <br />

    <p>
      {{ "privacy-paragraphs.13th.paragraph" | translate }}
      <a style="text-decoration: none; color: #d2300b" href="tel:01632076800"
        >01632076800</a
      >
    </p>

    <p>
      {{ "privacy-paragraphs.14th.paragraph" | translate }}
      <a
        style="text-decoration: none; color: #d2300b"
        href="mailto:contact@felix-kroth.de"
        >contact&#64;felix-kroth.de</a
      >
    </p>
    <p>
      {{ "privacy-paragraphs.15th.paragraph" | translate }}
    </p>

    <br />
    <h4>{{ "privacy.storage.duration.heading" | translate }}</h4>
    <br />
    <p>
      {{ "privacy-paragraphs.16th.paragraph" | translate }}
    </p>
    <br />
    <h4>{{ "privacy.legal.basis.heading" | translate }}</h4>
    <br />
    <p>
      {{ "privacy-paragraphs.17th.paragraph" | translate }}
    </p>
    <br />
    <h4>{{ "privacy.data-recipients.heading" | translate }}</h4>
    <br />
    <p>
      {{ "privacy-paragraphs.18th.paragraph" | translate }}
    </p>
    <br />
    <h4>{{ "privacy.consent.revocation.heading" | translate }}</h4>
    <br />
    <p>
      {{ "privacy-paragraphs.19th.paragraph" | translate }}
    </p>
    <br />
    <h4>{{ "privacy.objection.right.heading" | translate }}</h4>
    <br />
    <p>
      {{ "privacy-paragraphs.20th.paragraph" | translate }}
    </p>
    <p>
      {{ "privacy-paragraphs.21st.paragraph" | translate }}
    </p>
    <br />
    <h4>{{ "privacy.complaint.right.heading" | translate }}</h4>
    <br />
    <p>
      {{ "privacy-paragraphs.22nd.paragraph" | translate }}
    </p>
    <br />
    <h4>{{ "privacy.data-portability.heading" | translate }}</h4>
    <br />
    <p>
      {{ "privacy-paragraphs.23rd.paragraph" | translate }}
    </p>
    <br />
    <h4>{{ "privacy.access.correction.deletion.heading" | translate }}</h4>
    <br />
    <p>
      {{ "privacy-paragraphs.24th.paragraph" | translate }}
    </p>
    <br />
    <h4>{{ "privacy.processing.restriction.heading" | translate }}</h4>
    <br />
    <p>
      {{ "privacy-paragraphs.25th.paragraph" | translate }}
    </p>
    <ul>
      <li>
        {{ "privacy-paragraphs.26th.paragraph" | translate }}
      </li>
      <li>
        {{ "privacy-paragraphs.27th.paragraph" | translate }}
      </li>
      <li>
        {{ "privacy-paragraphs.28th.paragraph" | translate }}
      </li>
      <li>
        {{ "privacy-paragraphs.29th.paragraph" | translate }}
      </li>
    </ul>
    <p>
      {{ "privacy-paragraphs.30th.paragraph" | translate }}
    </p>
    <br />
    <h4>{{ "privacy.encryption.heading" | translate }}</h4>
    <br />
    <p>
      {{ "privacy-paragraphs.31st.paragraph" | translate }}
    </p>
    <p>
      {{ "privacy-paragraphs.32nd.paragraph" | translate }}
    </p>
    <br />
    <h3>{{ "privacy.section4.heading" | translate }}</h3>
    <br />
    <h4>{{ "privacy.contact.form.heading" | translate }}</h4>
    <br />
    <p>
      {{ "privacy-paragraphs.33rd.paragraph" | translate }}
    </p>
    <p>
      {{ "privacy-paragraphs.34th.paragraph" | translate }}
    </p>
    <p>
      {{ "privacy-paragraphs.35th.paragraph" | translate }}
    </p>
    <br />
    <h4>{{ "privacy.email.request.heading" | translate }}</h4>
    <br />
    <p>
      {{ "privacy-paragraphs.36th.paragraph" | translate }}
    </p>
    <p>
      {{ "privacy-paragraphs.37th.paragraph" | translate }}
    </p>
    <p>
      {{ "privacy-paragraphs.38th.paragraph" | translate }}
    </p>
    <br />
    <p>
      {{ "privacy.source" | translate
      }}<a
        style="text-decoration: none; color: #d2300b"
        href="https://www.e-recht24.de"
        >https://www.e-recht24.de</a
      >
    </p>

    <button class="back-to-home">
      <a routerLink="/">{{ "privacy.backToHome" | translate }}</a>
    </button>
  </section>
</section>
