<div class="portfolio-content">
  <section class="portfolio-headline" data-aos="fade-left" data-aos-duration="1800">
    <div class="portfolio-headline-container">
      <div class="portfolio-line"></div>
      <div class="portfolio-headline-text-container">
        <h2>PORTFOLIO</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum ea
          nam iure nisi sint architecto, explicabo ipsa nobis quibusdam deleniti
          quo dolorem vel ad repellendus quaerat laboriosam porro mollitia
          blanditiis molestiae saepe esse placeat.
        </p>
      </div>
    </div>
  </section>

  <section class="portfolio-section" data-aos="fade-right" data-aos-duration="1800">
    <div class="portfolio-image-content">
      <img
        class="portfolio-image"
        src="../assets/img/pokedex-device-mockup.png"
        alt=""
      />
    </div>
    <div class="portfolio-text-content">
      <h2>POKEDEX</h2>
      <h3>JAVASCRIPT | HTML | CSS | API</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum ea nam
        iure nisi sint architecto, explicabo ipsa nobis quibusdam deleniti quo
        dolorem vel ad repellendus quaerat laboriosam porro mollitia blanditiis
        molestiae saepe esse placeat.
      </p>
      <div class="portfolio-text-content-button-container">
        <button>LIVE TEST</button>
        <button>GIT HUB</button>
      </div>
    </div>
  </section>

  <section class="portfolio-section" data-aos="fade-left" data-aos-duration="1800">
    <div class="portfolio-image-content">
      <img
        class="portfolio-image"
        src="../assets/img/join-device-mockup.png"
        alt=""
      />
    </div>
    <div class="portfolio-text-content">
      <h2>JOIN</h2>
      <h3>JAVASCRIPT | HTML | CSS | FIREBASE</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum ea nam
        iure nisi sint architecto, explicabo ipsa nobis quibusdam deleniti quo
        dolorem vel ad repellendus quaerat laboriosam porro mollitia blanditiis
        molestiae saepe esse placeat.
      </p>
      <div class="portfolio-text-content-button-container">
        <button>LIVE TEST</button>
        <button>GIT HUB</button>
      </div>
    </div>
  </section>

  <section class="portfolio-section" data-aos="fade-right" data-aos-duration="1800">
    <div class="portfolio-image-content">
      <img
        class="portfolio-image"
        src="../assets/img/el-pollo-loco-device-mockup.png"
        alt=""
      />
    </div>
    <div class="portfolio-text-content">
      <h2>EL POLLO LOCO</h2>
      <h3>JAVASCRIPT | HTML | CSS | OBJECT ORIENTATION</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum ea nam
        iure nisi sint architecto, explicabo ipsa nobis quibusdam deleniti quo
        dolorem vel ad repellendus quaerat laboriosam porro mollitia blanditiis
        molestiae saepe esse placeat.
      </p>
      <div class="portfolio-text-content-button-container">
        <button>LIVE TEST</button>
        <button>GIT HUB</button>
      </div>
    </div>
  </section>

  <section class="portfolio-section" data-aos="fade-left" data-aos-duration="1800">
    <div class="portfolio-image-content">
      <img
        class="portfolio-image"
        src="../assets/img/pokedex-device-mockup.png"
        alt=""
      />
    </div>
    <div class="portfolio-text-content">
      <h2>PORTFOLIO</h2>
      <h3>ANGULAR | TYPESCRIPT | HTML | CSS | HOSTING</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum ea nam
        iure nisi sint architecto, explicabo ipsa nobis quibusdam deleniti quo
        dolorem vel ad repellendus quaerat laboriosam porro mollitia blanditiis
        molestiae saepe esse placeat.
      </p>
      <div class="portfolio-text-content-button-container">
        <button>LIVE TEST</button>
        <button>GIT HUB</button>
      </div>
    </div>
  </section>
</div>
